# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Virtual environment folders
venv/
env/

# SQLite database files
*.db

# Configuration files containing sensitive information
*.env
*.DS_Store

# IDE settings
.vscode/
.idea/

# OS files
Thumbs.db

# Ignore configuration file containing sensitive keys
config.py
instance/stream_keys.db